

body {
  background-color: #e5e5e5;
}

.jumbotron {
  background-image: url('http://i.imgur.com/RRUe0Mo.png');
  background-color: #b7b7b7;
  text-align: center;
}

.button {
  margin-top: 100px;
}

#toppings {
  margin-left: auto;
}

.navbar {
  margin-top: 100px;
}

#order {
  display: none;
}
